extends layout

block content
  form(method='POST')
  
    label(for='email')
      b New Password
    input#email(type='password', placeholder='Enter New Password', name='pass', required='required')
    label(for='psw')
      b Confirm Password
    input#psw(type='password', placeholder='Confirm New Password', name='psw', required='required')
    button(type='submit') Change Password